<br id="samp" >
<h2 align="center" style="text-decoration: underline;">SampleJS.Js</h2>
<script type="text/javascript" src="http://sivainfo.rf.gd/assets/profile/library/samplejs.js"></script>
<h1>What is SampleJS ?</h1>
<p id="id" class="class">SampleJS is a fast, small, and feature-rich JavaScript library. It makes things like HTML document traversal and manipulation, event handling. Further Updates in progress..</p>
<div>
	<div>
		Use this CDN link on Your Header in your Html page and get regular updates.
		<code>{{cdnLink}}</code>
	</div>
<h5>s(document).ready()</h5>
<code>s(document).ready(function());</code>
<p>This to get and update value after document is loaded.</p>
</div>
<div>
<h5>s(type.class#id).htmlValue()</h5>
<code>s('p#id.class').htmlValue();</code>
<p>This attributes is used to get the value of the html file like p, a and other tag's
s(type.class#id).htmlValue(value) -- set value;
s(type.class#id).htmlValue() -- get value;
 </p>
</div>
<div>
<h5>s(type.class#id).value()</h5>
<code>s('p#id.class').htmlValue();</code>
<p>This to get value from input 
s(type.class#id).value(value) -- to update or set value in input
s(type.class#id).value() -- to update or get value form input
  </p>
</div>
<div>
<h5>s(type.class#id).next()</h5>
<code>s('p#id.class').htmlValue();</code>
<p>This is used to set value in input 
s(type.class#id).next() -- to get next value in input 
s(type.class#id).next(value) -- to update or set value in next input</p>
</div>
<div>
<h5>s(type.class#id).prev()</h5>
<code>s('p#id.class').htmlValue();</code>
<p>s(type.class#id).prev() 
-- to get previous value in input s(type.class#id).prev(value) 
-- to update or set value in previous input
</p>
</div>
<div>
<h5>s(type.class#id).on()</h5>
<code>s(type.class#id).on('click',function());</code>
<p>s(type.class#id).on('click',function()) -- this on function supports all on functions like click, keypress, keyup etc.
</p>
</div>

<br>
<h6 align="center">Futher Updates will be soon updated...</h6>
<div style="text-align:center;background: black;color:white;"><label style="color:white;"><b>GitHub: </b></label> https://github.com/sivajaffey/sampleJs-library</div>